header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.top-right {
    display: flex;
    align-items: center;
}

.logout-button {
    margin-left: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #45a049;
}